.login-container {
  width: 98vw;
  height: 97vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-container {
  width: 45%;
  /* height: 90%; */
  height: auto;
  /* padding-top: 30px; */
}

.welcome-message {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 25px;
  margin-top: 8px;
}

.info-box {
  width: 90%;
  padding: 4px;
  border-left: 3px solid rgb(103, 96, 96);
  height: auto;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.info-box:hover {
  background-color: rgb(239, 239, 239);
  cursor: default;
}

.info-heading {
  margin-left: 10px;
  margin-bottom: 10px;
}

.info {
  margin-left: 12px;
  color: gray;
}

.form-container {
  width: 45%;
  /* height: 90%; */
  height: auto;
  border-radius: 15px;
  border: 1px solid gray
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.company-logo {
  display: flex;
  /* or use text-align/line-height */
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Set height as needed */
  margin-top: 20px;
}

.company-logo-img {
  max-width: 50%;
  /* Optional: ensures the image is responsive */
  height: auto;
  /* Maintain aspect ratio */
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.screen {
  /* background: linear-gradient(90deg, #5D54A4, #7C78B8);		 */
  position: relative;
  height: 100%;
  width: 90%;
  border-radius: 20px;
  border: 1px dashed gray;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}


.login {
  padding: 30px;
  padding-top: 15px;
  
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 29px;
  color: #7875B5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 90%;
  transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 12px;
  padding: 10px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: fit-content;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6A679E;
  outline: none;
}

/* .button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5;
} */


.register-option{
  padding: 9px;
  margin-left: 22px;
  
}

.register-option span{
  cursor: pointer;
  color: blue;
}

.loading-gif{
  width: 16px;
  height: 16px;
  margin-left: 15px;
}


@media (max-width: 750px) {
  /* Styles for devices with a width of 600px or less */
  .login-container{
    width: 96vw;
    flex-direction: column;
  }
  .content-container{
    width: 90%;
  }
  .form-container{
    width: 83%;
    margin-top: 50px;
  }
}
