.register{
    /* background: -webkit-linear-gradient(left, #305c66, #ffffff); */
    width: 100%;
    height: 100vh;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #000000;
    margin-top: 4%;
}
/* .register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #457E8B;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3%;
    cursor: pointer;
} */

.form-controls{
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    margin: 10px;
}

.form-controls:active,
.form-controls:focus,
.form-controls:hover {
  outline: none;
  /* border-bottom-color: #6A679E; */
}

.register-left input{
    background: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
    width: 35%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.register-right{
    background: #ffffff;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    /* border: 1px solid grey; */
    box-shadow: -5px 7px 9px 0px #5C5696;
    position: absolute;
    right: 0;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 50%;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
/* .btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #457E8B;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
} */

.btnRegister{
    background: #fff;
    float: right;
    font-size: 14px;
    margin-top: 10%;
    padding: 10px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    /* display: flex; */
    align-items: center;
    width: 30%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
    
}

.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}