.search-result-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    border: 1px solid rgb(193, 193, 193);

}
.search-result-row:hover{
    background-color: #f0f0f0;
    
}
.employee-id-container{
    min-width: 250px;
}

.employee-basic-info{
    min-width: 250px;
}
.employee-basic-info-container{
    display: flex;
    align-items: center;
}
.employee-basic-info{
    margin-left: 10px;
}
.employee-image{
    border-radius: 50%;
}
.employee-name{
    font-weight: bolder;
    font-size: larger;
}
.employee-role{
    font-size: smaller;
}
.icon{
    margin-right: 10px;
}

.open__submit {
	background: #fff;
	font-size: 14px;
	/* margin-top: 30px; */
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #6c6c6c;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 10%;
    min-width: 75px;
	color: #3a3a3a;
	/* box-shadow: 0px 2px 2px #5C5696; */
	cursor: pointer;
	transition: .2s;
    background: transparent;
}

.open__submit:active,
.open__submit:focus,
.open__submit:hover {
	border:2px solid #2c2c2c;
	outline: none;
    
}
.button__icon {
    font-size: 12px;
    margin-left: auto;
    color: #787878;
}
.button__text{
    margin:auto;
    
}


@media  (max-width: 700px) {
    .search-result-row{
        position: relative;
    }
    .search-result-row{
        flex-direction: column;
    
    }
    .employee-id-container{
        margin: 10px;
    }
    .open__submit{
        position: absolute;
        right: 0;
    }
    /* .button__text{
        display: none;
    } */
}

